<link rel="stylesheet" href="https://102464.stu.sd-lab.nl/Portfolio/components/header/header.css" />
<script src="https://102464.stu.sd-lab.nl/Portfolio/components/header/header.js"></script>

<div id="desktop">
  <div id="header">
    <div id="logo-title-container">
      <img src="https://102464.stu.sd-lab.nl/Portfolio/images/logo.png" alt="Logo" />
      <h1>André Smalheer</h1>
    </div>
    <ul>
      <li><a href="https://102464.stu.sd-lab.nl/Portfolio/index.html">Home</a></li>
      <li><a href="https://102464.stu.sd-lab.nl/Portfolio/general/discover_projects/discover_projects.html">Projecten</a></li>
      <li><a href="https://102464.stu.sd-lab.nl/Portfolio/general/CV/index.html">CV</a></li>
      <!-- <li><a href="/index.html">About Me</a></li> -->
      <!-- <li><a href="/index.html">Projects</a></li> -->
      <!-- <li><a href="/index.html">Contact</a></li> -->
    </ul>
  </div>
</div>

<div id="mobile">
  <div id="header">
    <div id="logo-title-container">
      <img src="https://102464.stu.sd-lab.nl/Portfolio/images/logo.png" alt="Logo" />
      <h1>André Smalheer</h1>
    </div>

    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="menu">
    <ul>
      <li><a href="https://102464.stu.sd-lab.nl/Portfolio/index.html">Home</a></li>
      <li><a href="https://102464.stu.sd-lab.nl/Portfolio/general/discover_projects/discover_projects.html">Projecten</a></li>
      <li><a href="https://102464.stu.sd-lab.nl/Portfolio/general/CV/index.html">CV</a></li>
    </ul>
  </div>
</div>
