body,
html {
  margin: 0;
  padding: 0;
}

#project_section {
  padding: 40px;
  height: 66vh;

  & img {
    width: 100vw;
    max-width: 712px;
    height: auto;
    max-height: max-content;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}

#project_content {
  display: flex;
}

#project_text {
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-top: 0;

  & h1,
  & p {
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      opacity: 0.85;
      transform: translateY(-3px);
      cursor: default;
    }
  }

  &h1 {
    font-weight: bold;
  }

  & h1 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
  }

  & p {
    color: #4a4a4a;
    font-size: clamp(0.8rem, 3vw, 1.3rem);
    margin-left: 5px;
  }
}

#project_links {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 20px;

  & .project_btn {
    display: block;
    padding: 12px 24px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

  & .fab {
    font-size: 40px;
    color: #111;
    margin-left: auto;

    &:hover {
      color: #1da1f2;
    }
  }
}
