*, *::before, *::after {
  cursor: none;
}

.cursor-dot {
  width: 20px;
  height: 20px;
  background-color: #A43333;
  border-radius: 50%;
  position: fixed;
  top: -10px;
  left: -10px;
  pointer-events: none;
  z-index: 9999;
  transition: scale 0.2s cubic-bezier(0.22, 1, 0.36, 1);
}
